body {
    background-color:rgb(128, 128, 128);
}

#text, #words {
    background-color:white;
    float: left;
    width: 44%;
    height: 78%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;

    border-radius: 4px;
    overflow: auto hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar { 
    display: none;
}

b {
    background-color: greenyellow;
}

.refresh {
    border: 2px solid white;
    border-radius: 4px;
    float: left;
    display: flex;
    background-color: gainsboro;
    width: calc(96% - 4px);
    height: 5%;
    margin-left: 2%;
    margin-right: 2%;

    font-size: large;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;

    align-items:center;
    justify-content:center;
}

.percents {
    border: 2px solid darkgrey;
    border-radius: 4px;
    float: left;
    display: flex;
    background-color: rgba(128, 128, 128, 0);
    width: calc(calc(92% - 8px) / 2);
    height: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;

    font-size: large;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;

    align-items:center;
    justify-content:center;
}

.text {
    height: fit-content;
    font-size: xx-large;
    
    width: 100%;
}