body {
    background-color:rgba(128, 128, 128, 0);
}

#background_image {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('background.jpg');
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#text, #words {
    background-color:white;
    float: left;
    width: 44%;
    height: 78%;
    margin: 2%;
    padding: 1%;

    border-radius: 4px;
    overflow: auto hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar { 
    display: none;
}

b {
    background-color: greenyellow;
}

.refresh {
    border: 2px solid gray;
    border-radius: 4px;
    float: left;
    display: flex;
    background-color: gainsboro;
    width: 96%;
    height: 5%;
    margin-left: 2%;
    margin-right: 2%;

    font-size: large;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;

    align-items:center;
    justify-content:center;
}

.text {
    width: fit-content;
    font-size: xx-large;
}