<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Common words</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" sizes="any">
</head>

<body>
    <div class="refresh">
        <div class="text">REFRESH</div>
    </div>
    <div class="percents">
        <div id="text_covr", class="text"></div>
    </div>
    <div class="percents">
        <div id="words_covr", class="text"></div>
    </div>
    <p id="text"></p>
    <p id="words"></p>
    <script>
        const editables = document.querySelectorAll('#text, #words')
        if (!editables[0].isContentEditable) {
            editables[0].contentEditable = 'true';
            editables[1].contentEditable = 'true';
        };

        document.querySelectorAll(".refresh")[0].onclick = function() {
            document.querySelector("body").style.backgroundColor = 'orange'
            var text = document.querySelector("#text").innerHTML;
            var words = document.querySelector("#words").innerHTML;
            $.ajax({
                type: 'POST',
                url: "/update",
                data: JSON.stringify({
                    "text": text,
                    "words": words,
                }),
                contentType: 'application/json',
                success: function(data){
                    document.querySelector("#text").innerHTML = data['text'];
                    document.querySelector("#words").innerHTML = data['words'];
                    localStorage.text = data['text'];
                    localStorage.words = data['words'];
                    localStorage.text_corv = data['text_covr'];
                    localStorage.words_covr = data['words_covr'];
                    document.querySelector("#text_covr").textContent = data['text_covr'] + '%';
                    document.querySelector("#words_covr").textContent = data['words_covr'] + '%';

                    document.querySelector("body").style.backgroundColor = 'gray'
                },
                error: function(){
                    document.querySelector("body").style.backgroundColor = 'red'
                }
            });
        };

        window.onload = () => {
            let text = document.querySelector('#text');
            let words = document.querySelector('#words');
            
            if (localStorage.text) {
                text.innerHTML = localStorage.text;
            }
            if (localStorage.words) {
                words.innerHTML = localStorage.words;
            }
        }
        
    </script>
</body>

</html>